@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

.row {
  margin-bottom: 10px;
}

.login {
  margin: 200px auto;
  /* background-image: linear-gradient(to right, rgba(0, 162, 255, 0), rgb(0, 162, 255)); */
}

